body {
  background-color: #101010;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 1.25em;
}

.carousel,
.header__container,
.program__container,
.error {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 75em;
  margin: 0 auto;
}

.header__logo img {
  height: 1.875em;
}

.header__navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__navigation li {
  margin-left: 1.25em;
}

.header__navigation li:first-child {
  margin-left: 2.5em;
}

.header__navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

.carousel__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  margin-top: 1.25em;
}

.carousel__item {
  flex: 0 0 calc(100% / 6);
  padding: 0.625em 1.25em 0.625em 0;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carousel__item img.active {
  padding: 0.125em;
  border: 0.125em solid #009AFE;
}

.carousel__item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel__item h3 {
  margin-top: 0.625em;
  font-size: 1em;
  font-weight: bold;
}

.program__container {
  color: #fff;
  margin-top: 1.25em;
}

.program__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25em;
}

.program__image {
  width: 12.5em;
  height: auto;
  margin-right: 1.25em;
}

.program__info {
  flex: 1;
}

.program__title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.program__details {
  margin: 0.625em 0;
}

.program__description {
  line-height: 1.5;
  max-width: 32.5em;
}

.error {
  color: #606060
}

/* Responsive Media Queries */
@media screen and (max-width: 67.5em) {
  .program__container {
    max-width: 45em;
    padding: 1em;
  }

  .program__image {
    width: 10em;
    margin-right: 1em;
  }

  .program__title {
    font-size: 1.25em;
  }

  .program__details {
    font-size: 0.875em;
  }

  .program__description {
    font-size: 1em;
  }
}

@media screen and (max-width: 45em) {
  .program__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .program__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
  }

  .program__title {
    font-size: 1.125em;
  }

  .program__details {
    font-size: 0.75em;
  }

  .program__description {
    font-size: 0.875em;
  }
}

@media screen and (max-width: 67.5em) {
  .carousel__item {
    flex: 0 0 calc(100% / 4);
  }
}

@media screen and (max-width: 45em) {
  .carousel__item {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (max-width: 48em) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__logo {
    margin-bottom: 1.25em;
  }

  .header__navigation li {
    margin-left: 1.25em;
    margin-bottom: 0.625em;
  }

  .header__navigation li:first-child {
    margin-left: 0;
  }
}